<tbody>
<tr ng-if="!inEditMode">
	<td>[[ num+1 ]].</td>
	<td><a href="[[ bookmark.link ]]" target="_blank"><div blur class="title">[[ bookmark.title ]]</div></a></td>
	<td><span class="rating-widget" static-rating="[[ bookmark.stars ]]"></span></td>
	<td>[[ bookmark.group_id ]] </td>
	<td><span class="myBtn flatblue" ng-click="toggleEditMode()"><i class="fa fa-edit fa-lg"></i></span></td>
	<td><span class="myBtn red" ng-click="deleteRow()"><i class="fa fa-trash-o"></i></span></td>
</tr>
<tr ng-if="inEditMode">
	<td><span class="fa fa-cog fa-lg fa-spin"></span></td>
	<td><input class="form-control input-xs" type="text" ng-model="bookmark.title" /></td>
	<td><span class="rating-widget" editable-rating="bookmark.stars"></span></td>
	<td>[[ bookmark.group_id ]] </td>
	<td><span class="myBtn green" ng-click="saveEdit()"><i class="fa fa-save fa-lg"></i></span></td>
	<td><span class="myBtn red" ng-click="cancelEdit()"><i class="fa fa-minus-circle fa-lg"></i></span></td>
</tr>
<tr ng-if="inEditMode">
	<td><span class="fa fa-link"></span></td>
	<td><input class="form-control input-xs" type="text" ng-model="bookmark.link" /></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
</tbody>